<div
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxLayoutGap="30px"
  fxFill
>
  <div fxLayoutAlign="center center" fxLayoutGap="5%" fxFill>
    <h1>{{ dictionary.title }}</h1>
    <img src="assets/images/robot.png" alt="Robo" class="responsive" />
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="center start"
    fxLayoutGap="10%"
    fxFill
    fxLayout.lt-sm="column"
  >
    <div fxFlex="30%" fxFill>
      <app-login></app-login>
    </div>

    <div fxFlex="40%" fxFill>
      <app-signup></app-signup>
    </div>
  </div>
</div>
