<form [formGroup]="loginForm">
  <div>
    <input
      formControlName="username"
      type="text"
      name="username"
      placeholder="username"
      required
    />
    <span class="help-block" *ngIf="username.touched && username.invalid"
      >The username is not valid</span
    >
  </div>
  <div>
    <input
      formControlName="password"
      type="password"
      name="password"
      placeholder="Password"
      required
    />
    <span
      class="help-block"
      *ngIf="password.touched && password.errors?.required"
    >
      The password is not valid
    </span>
    <span
      class="help-block"
      *ngIf="password.touched && password.errors?.minlength"
    >
      The password is too short
    </span>
  </div>
  <button [disabled]="!loginForm.valid" (click)="login()" type="submit">
    Login
  </button>
  <div>
    You are trying to login as
    <strong> {{ loginForm.controls.username.value }} </strong>
  </div>
</form>
