<mat-card>
  <mat-card-header>
    <mat-card-title> {{ dictionary.auth.signUp }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- Sign Up new user Form -->
    <form [formGroup]="signUpForm" (submit)="onSignUp()">
      <!-- Username field -->
      <mat-form-field fxFill>
        <mat-label>{{ dictionary.auth.username }} </mat-label>
        <input type="text" matInput formControlName="username" />
        <mat-error
          *ngIf="
            !signUpForm.get('username').valid &&
            signUpForm.get('username').touched
          "
        >
          <mat-error *ngIf="signUpForm.get('username').errors['required']">
            {{ dictionary.auth.error.requiredUsername }}
          </mat-error>
          <mat-error *ngIf="signUpForm.get('username').errors['nameIsBound']">
            {{ dictionary.auth.error.boundUsernameMsg }}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <br />
      <!-- First name form field -->
      <mat-form-field fxFill>
        <mat-label>{{ dictionary.auth.firstName }} </mat-label>
        <input type="text" matInput formControlName="firstName" />
        <mat-error
          *ngIf="
            !signUpForm.get('firstName').valid &&
            signUpForm.get('firstName').touched
          "
        >
          <mat-error *ngIf="signUpForm.get('firstName').errors['required']">
            {{ dictionary.auth.error.requiredFirstName }}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <br />
      <!-- Last name form field -->
      <mat-form-field fxFill>
        <mat-label>{{ dictionary.auth.lastName }} </mat-label>
        <input type="text" matInput formControlName="lastName" />
        <mat-error
          *ngIf="
            !signUpForm.get('lastName').valid &&
            signUpForm.get('lastName').touched
          "
        >
          <mat-error *ngIf="signUpForm.get('lastName').errors['required']">
            {{ dictionary.auth.error.requiredLastName }}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <br />
      <!-- Email form field -->
      <mat-form-field fxFill>
        <mat-label>{{ dictionary.auth.email }} </mat-label>
        <input type="email" matInput formControlName="email" />
        <mat-error
          *ngIf="
            !signUpForm.get('email').valid && signUpForm.get('email').touched
          "
        >
          <mat-error *ngIf="signUpForm.get('email').errors['required']">
            {{ dictionary.auth.error.requiredEmail }}
          </mat-error>
          <mat-error *ngIf="signUpForm.get('email').errors['email']">
            {{ dictionary.auth.error.incorrectEmail }}
          </mat-error>
          <mat-error *ngIf="signUpForm.get('email').errors['emailIsBound']">
            {{ dictionary.auth.error.boundEmailMsg }}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <br />
      <!-- Password form field -->
      <mat-form-field fxFill>
        <mat-label>{{ dictionary.auth.password }} </mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          minlength="6"
        />
        <mat-error
          *ngIf="
            !signUpForm.get('password').valid &&
            signUpForm.get('password').touched
          "
        >
          <mat-error *ngIf="signUpForm.get('password').errors['required']">
            {{ dictionary.auth.error.requiredPassword }}
          </mat-error>
          <mat-error *ngIf="signUpForm.get('password').errors['minlength']">
            {{ dictionary.auth.error.minPassword }}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <br />
      <!-- Robot ID form field  -->
      <mat-form-field fxFill>
        <mat-label>{{ dictionary.auth.robotSerialNumber }} </mat-label>
        <input type="text" matInput formControlName="robotSerialNumber" />
        <mat-error
          *ngIf="
            !signUpForm.get('robotSerialNumber').valid &&
            signUpForm.get('robotSerialNumber').touched
          "
        >
          <mat-error
            *ngIf="signUpForm.get('robotSerialNumber').errors['required']"
          >
            {{ dictionary.auth.error.requiredRobot }}
          </mat-error>
          <mat-error
            *ngIf="signUpForm.get('robotSerialNumber').errors['robotNotExists']"
          >
            {{ dictionary.auth.error.robotExists }}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <br />
      <!-- Sign up form submit btn -->
      <button
        type="submit"
        mat-raised-button
        [disabled]="!signUpForm.valid"
        color="accent"
      >
        {{ dictionary.auth.btnSignUp }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
<button (click)="LoadData()" mat-raised-button color="primary">
  Load Data
</button>
