<br />
&nbsp;
<button color="primary" mat-raised-button>Material raised button</button>
<br />
&nbsp;
<button mat-flat-button color="primary">Material flat button</button>
<br />
&nbsp;
<button mat-stroked-button color="primary">Material stroked button</button>
&nbsp;
<br />
&nbsp;
<button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
<br />
&nbsp;
<button mat-fab color="warn"><mat-icon>delete</mat-icon></button>
<br />
&nbsp;
<button mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>
&nbsp;
<br />
<mat-button-toggle-group>
  <mat-button-toggle value="left">
    <mat-icon>format_align_left</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="center">
    <mat-icon>format_align_center</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="right">
    <mat-icon>format_align_right</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
