<mat-card>
  <mat-card-header>
    <mat-card-title> {{ dictionary.auth.login }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- Form for the login procedure -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <!-- Username validation -->
      <mat-form-field fxFill>
        <mat-label>{{ dictionary.auth.username }} </mat-label>
        <input type="text" matInput formControlName="username" required />
        <mat-error
          *ngIf="
            !loginForm.get('username').valid &&
            loginForm.get('username').touched
          "
        >
          {{ dictionary.auth.error.usernameErrorMsg }}
        </mat-error>
      </mat-form-field>
      <br />
      <!-- Password Validation -->
      <mat-form-field fxFill>
        <mat-label>{{ dictionary.auth.password }} </mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          minLength="6"
          required
        />
        <mat-error
          *ngIf="
            !loginForm.get('password').valid &&
            loginForm.get('password').touched
          "
        >
          {{ dictionary.auth.error.passwordErrorMsg }}
        </mat-error>
      </mat-form-field>
      <br />

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <!-- Submit form button -->
        <button
          type="submit"
          mat-raised-button
          [disabled]="!loginForm.valid"
          color="primary"
        >
          {{ dictionary.auth.btnLogin }}
        </button>
        <div fxLayout="column" fxLayoutAlign="space-evenly end">
          <a routerLink="ResetPassword">
            {{ dictionary.auth.resetPassword }}
          </a>
          <a routerLink="UsernameReminder">
            {{ dictionary.auth.usernameReminder }}
          </a>
        </div>
      </div>
      <mat-error *ngIf="!loginForm.valid && loginForm.touched">
        {{ dictionary.auth.error.loginErrorMsg }}
      </mat-error>
    </form>
  </mat-card-content>
</mat-card>

<button (click)="loadData()" mat-raised-button color="primary">
  Load Data
</button>
