<div
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxLayoutGap="30px"
  fxFill
>
  <div fxLayoutAlign="center center" fxLayoutGap="5%" fxFill>
    <h1>{{ dictionary.title }}</h1>
    <img src="assets/images/robot.png" alt="Robo" class="responsive" />
  </div>

  <h2>{{ dictionary.verify.title }}</h2>
  <h3>{{ dictionary.verify.content1 }}</h3>
  <h3>{{ dictionary.verify.content2 }}</h3>
  <button mat-raised-button color="primary" routerLink="">
    {{ dictionary.verify.button }}
  </button>
</div>
