<div
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxLayoutGap="30px"
  fxFill
>
  <div fxLayoutAlign="center center" fxLayoutGap="5%" fxFill>
    <h1>{{ dictionary.title }}</h1>
    <img src="assets/images/robot.png" alt="Robo" class="responsive" />
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title> {{ dictionary.resetPswd.title }} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <!-- Username Field -->
        <mat-form-field fxFill>
          <mat-label> {{ dictionary.resetPswd.input1 }} </mat-label>
          <input type="text" matInput formControlName="username" required />
          <mat-error
            *ngIf="
              !dataForm.get('username').valid &&
              dataForm.get('username').touched
            "
          >
            {{ dictionary.auth.error.requiredUsername }}
          </mat-error>
        </mat-form-field>
        <br />
        <!-- Email Field -->
        <mat-form-field fxFill>
          <mat-label>{{ dictionary.resetPswd.input2 }} </mat-label>
          <input type="text" matInput formControlName="email" required />
          <mat-error
            *ngIf="
              !dataForm.get('email').valid && dataForm.get('email').touched
            "
          >
            {{ dictionary.auth.error.requiredEmail }}
          </mat-error>
        </mat-form-field>
        <br />
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
          <button
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="!dataForm.valid"
          >
            {{ dictionary.resetPswd.submitBtn }}
          </button>
          <br />
          <button mat-raised-button color="accent" routerLink="">
            {{ dictionary.resetPswd.cancelBtn }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
