<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1%">
  <div fxFlex="2%" fxFlexFill>
    <button mat-raised-button color="primary" routerLink="/UserForm">
      {{ dictionary.user.list.addUser }}
    </button>
  </div>

  <!-- Filter -->
  <div fxFlex="5%" fxFill>
    <mat-form-field>
      <mat-label>{{ dictionary.user.list.filter }} </mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. user 2" />
    </mat-form-field>
  </div>

  <!-- Table -->

  <mat-spinner *ngIf="isLoading" style="margin: auto"></mat-spinner>
  <div
    fxFlex="70%"
    fxFill
    class="mat-elevation-z8"
    *ngIf="userList.data.length > 0 && !isLoading"
  >
    <table mat-table [dataSource]="userList" fxFill>
      <!-- Username -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>
          {{ dictionary.user.list.username }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.username }}</td>
      </ng-container>

      <!-- First Name -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>
          {{ dictionary.user.list.firstName }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
      </ng-container>

      <!-- Last Name -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>
          {{ dictionary.user.list.lastName }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
      </ng-container>

      <!-- Last Name -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>
          {{ dictionary.user.list.email }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <!-- Admin -->
      <ng-container matColumnDef="is_admin">
        <th mat-header-cell *matHeaderCellDef>
          {{ dictionary.user.list.isAdmin }}
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox disabled [checked]="row.is_admin"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Is Active -->
      <ng-container matColumnDef="is_active">
        <th mat-header-cell *matHeaderCellDef>
          {{ dictionary.user.list.isActive }}
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox disabled [checked]="row.is_active"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>
          {{ dictionary.user.list.actions.title }}
        </th>
        <td mat-cell *matCellDef="let row">
          <button mat-button [matMenuTriggerFor]="menu">
            <i class="material-icons"> list </i>
          </button>
          <mat-menu #menu="matMenu">
            <!-- Edit Button -->
            <button
              mat-menu-item
              [routerLink]="['/UserForm', row.id]"
              style="color: coral"
            >
              <b>{{ dictionary.user.list.actions.edit }}</b>
            </button>

            <!-- Delete Button -->
            <button
              mat-menu-item
              (click)="onDelete(row.id)"
              style="color: crimson"
            >
              <b>{{ dictionary.user.list.actions.delete }}</b>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>

  <div fxFlex="70%" *ngIf="userList.data.length == 0 && !isLoading">
    <h3>No Data</h3>
  </div>
</div>
