<!-- <app-basics [name]="hero"></app-basics> -->
<!-- <app-basics name="Batman"></app-basics> -->

<!-- Local references in template using # -->
<!-- <app-basics #heroCmp [name]="hero" (liked)="onLike($event)"></app-basics> -->
<!-- <span> {{ heroCmp.name }} </span> -->

<!-- CSS Styling -->
<!-- <app-css-styling></app-css-styling> -->

<!-- Lifecycle -->
<!-- <app-lifecycle #heroCmp [name]="hero" (liked)="onLike($event)"></app-lifecycle>
<span> {{ heroCmp.name }} </span> -->

<!-- Directive -->
<!-- <app-directives
  #heroCmp
  [name]="hero"
  (liked)="onLike($event)"
></app-directives> -->

<!-- Pipes -->
<!-- <app-pipes></app-pipes> -->

<!-- Using a component that exists in another module -->
<!-- <app-testing-modules-list></app-testing-modules-list> -->

<!-- Dependency Injection examples -->
<!-- <app-example></app-example> -->

<!-- Http Handling -->
<!-- <app-promises></app-promises> -->
<!-- <app-observables></app-observables> -->
<app-list></app-list>
